/*
Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.cuerpos-texto{
    font-size: 12px;
}

/*HEADER*/

header{
    background-color: #EAC926;
}

.renglon1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-ml{
    width: 100%;
}

.barra-busqueda{
    width: 100%;
}

ul{
    margin: 0;
}

.nav{
    display: none;
}

.fas.fa-search{
    background-color: white;
    border-radius: 5px;
    color: #1259c3;
    padding: 3px;
}

.fas.fa-bars{
    background-color: #1259c3;
    color: #fff;
    width: auto;
    padding: 6px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

.burger-menu{
    text-align: center;
}

.search-bar{
    background-color: white;
    border-radius: 5px;
    width: 90%;
}



/*IMAGEN BANNER*/

.banner{
    border:none;
    padding: 0;
    height: 100%;
}


/*MAIN*/



/*FOOTER*/


footer{
    margin-top: 30px;
}

.fas.fa-credit-card{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.fas.fa-gift{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.fas.fa-user-shield{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.alineacion{
    text-align: center;
    margin-bottom: 10px;
}



/*MEDIA-QUERIES*/

/*TELEFONO*/

@media (min-width:361px){


/*HEADER*/

.heather-section{
    display: flex;
    flex-direction: column;
}

.nav{
    display: none;
}

.renglon1{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
}

.logo-ml{
    width: 50%;
}

.tarjeta-de-credito{
    width: 30%;
    align-items: center;
}

.renglon1-pc{
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.barra-busqueda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.search-bar{
    margin-right: 10px;
}


/*MAIN*/



/*FOOTER*/



}





/*COMPUTADORA*/

@media (min-width:769px){

/*HEADER*/

.burger-menu{
    display: none;
}

.nav-izquierda{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;

}

.nav-derecha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

li{
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px ;
}

.renglon1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-ml{
    width: 100%;
}

.barra-busqueda{
    width: 100%;
}


/*MAIN*/





/*FOOTER*/







}