body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #EAC926;
}

.titulares{
    font-size: 24px;
}

.precio{
    font-size: 18px;
}

.cuerpos-texto{
    font-size: 12px;
}

.descuentos{
    font-size: 16px
}

.descripciones{
    font-size: 16px
}

.burger-menu{
    display:inline-flex;
    background-color: #1259c3;
    color: #fff;
    size: 2em;
    margin-bottom:10px;
    text-align: center;

}
