/*
Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.cuerpos-texto{
    font-size: 12px;
}

/*HEADER*/

header{
    background-color: #EAC926;
}

.renglon1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-ml{
    width: 100%;
}

.barra-busqueda{
    width: 100%;
}

ul{
    margin: 0;
}

.nav{
    display: none;
}

.fas.fa-search{
    background-color: white;
    border-radius: 5px;
    color: #1259c3;
    padding: 3px;
}

.fas.fa-bars{
    background-color: #1259c3;
    color: #fff;
    width: auto;
    padding: 6px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

.burger-menu{
    text-align: center;
}

.search-bar{
    background-color: white;
    border-radius: 5px;
    width: 90%;
}



/*IMAGEN BANNER*/

.banner{
    border:none;
    padding: 0;
    height: 100%;
}


/*MAIN*/

main{
  background-color: #ebebeb;
}

.main{
    width: 90%;
    border:solid 1px #ebebeb;
    margin-left: auto;
    margin-right:auto ;
}

.articulo{
    margin:10px;
    background-color: #fff;
}

.titulares{
    font-size: 24px;
}

.precio{
    font-size: 18px;
    width: 30%;
}

.descuentos{
    font-size: 16px;
    width: 70%;
    color: #39b54a;
}

.precio-y-descuento{
    display: flex;
    flex-direction: row;
}

.descripciones{
    font-size: 16px
}

.producto{
    position: relative;
}

.fas.fa-truck{
    display: block;
    color: #39b54a;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50% ;
    position: absolute;
    right: 20px;
    top: -15px;
}

/*FOOTER*/


footer{
    margin-top: 30px;
}

.fas.fa-credit-card{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.fas.fa-gift{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.fas.fa-user-shield{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.alineacion{
    text-align: center;
    margin-bottom: 10px;
}

/*MEDIA-QUERIES*/

/*TELEFONO*/

@media (min-width:361px){


/*HEADER*/

.heather-section{
    display: flex;
    flex-direction: column;
}

.nav{
    display: none;
}

.renglon1{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
}

.logo-ml{
    width: 50%;
}

.tarjeta-de-credito{
    width: 30%;
    align-items: center;
}

.renglon1-pc{
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.barra-busqueda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.search-bar{
    margin-right: 10px;
}


/*MAIN*/

.articulos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.articulo{
    margin:10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(100, 100, 100, 0.5);
    width: 45%;
}

.producto{
    position:relative;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}


.precio{
    font-size: 18px;
    width: 30%;
}

.descuentos{
    font-size: 16px;
    width: 70%;
    color: #39b54a;
}

.precio-y-descuento{
    display: flex;
    flex-direction: row;
}

.descripciones{
    display: none;
}

.fas.fa-truck{
    display: block;
    color: #39b54a;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50% ;
    position: absolute;
    right: 20px;
    top: -15px;
}



/*FOOTER*/



}

/*COMPUTADORA*/

@media (min-width:769px){

/*HEADER*/

.burger-menu{
    display: none;
}

.nav-izquierda{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;

}

.nav-derecha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

li{
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
}

.renglon1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-ml{
    width: 100%;
}

.barra-busqueda{
    width: 100%;
}


/*MAIN*/

.articulo{
    margin:10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(100, 100, 100, 0.5);
    width: 25%;
}

.articulos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}



.producto{
    position:relative;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.precio{
    font-size: 18px;
    width: 30%;
}

.descuentos{
    font-size: 16px;
    width: 70%;
    color: #39b54a;
}

.precio-y-descuento{
    display: flex;
    flex-direction: row;
}

.fas.fa-truck{
    display: block;
    color: #39b54a;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50% ;
    position: absolute;
    right: 20px;
    top: -15px;
}




/*FOOTER*/







}